## DUPLICATE GROUP ANALYSIS

You are analyzing a group of nodes that may be duplicates. Please examine the following data and determine the best course of action.

### DUPLICATE GROUP DATA:
{{ duplicate_group_data }}

### ANALYSIS CONTEXT:
{{ analysis_context }}
