Arguments to this tool are:
arguments: task

task: str

task should be very descriptive.  This is not a normal search engine.  It is a team of agents using various search
methods.  So more they know about the problem the better.  Do not change the meaning of the task!  Copy as much
verbatim the suggested query as possible.  You may give a task that takes multiple queries to complete.