This is a powerful search tool for any information on the web.  Best way to use it is to give a very detailed description of what you want.  For example:
"please find recipies for picky eaters.  Not just links, provide actual recipies, ingredients and directions."