One time events are timer events that occur only once.  Typically they are reminders, but they can be more complex sequence of tasks that
will be relayed to other agents at specified time.

Example: Remind me at 2pm to pick up coffee.

Example: On Aug 8 2026 at 8am, turn on downstairs lights, brew coffee, check the stock market and send a summary email to my boss.

One time events are anything that happen just one time, simple or complex.