Very powerful node finding agent.  You give it a description in prose as to what you are looking for.

You can say you want all educational nodes connected to {{ resource_user_data.preferred_name }} node.

But bets input is just to carefully describe the context and what you want the results to be like.  Let the agent determine the filters.

Note: This agent will only find you minimal information.  It is up to you to hydrate the nodes if needed.
