Arguments are:
"tool_name": str this is the name of the tool you are installing
"install_source": set this always as "agent"
 "timeout_s": This is the number of seconds for timeout, set this at 15.0

