Very powerful node finding agent.  You give it a description in prose as to what you are looking for.  Give it any helpful context for better results.
Sample inputs:
-Find all the places where {{ resource_user_data.preferred_name }} used to live in 1990s. To help you on your search this is what I have so far:  {{ resource_user_data.preferred_name }}s id is ...
-Find all nodes related to Karjalohja.

Note: This agent will return to you node ids.  It is up to you to hydrate the nodes if needed.
