Concept type: {{ ctype }} ({{ ctype_noun }}).

## Belief A
{{ phrase_a }}
{% if context_a %}
{{ context_a }}
{%- endif %}

## Belief B
{{ phrase_b }}
{% if context_b %}
{{ context_b }}
{%- endif %}

What is the relation between A and B for this person?
