Arguments are
task: The task we are asking of the knowledge graph query agents. This is in prose. They will interpret your task and look up information required and give you the answer.
information: Any extra information provided to us that maybe helpful.

