Today is {{ date_time }}.
{% if task %}
Task: {{ task }}
{% endif %}

{% if information %}
Information: {{ information }}
{% endif %}

{% if recent_history %}
What happened:
{{ recent_history }}
{% endif %}
