Arguments are:
thread_id: Gmail thread id (preferred)
seed_message_id: Gmail message id used to resolve thread_id when thread_id is omitted
participant_email: Email address used to resolve a recent thread when thread_id/seed_message_id are omitted
max_messages: integer, default 100, max 500
include_body: True or False, default True
