Current date and time: {{ date_time }}
{{ entity_level_0 }}
{%- if recent_history is defined and recent_history -%}
Recent history: {{ recent_history if recent_history is string else recent_history|join('; ') }}
{%- else -%}
This is first action. Fetch calendar events for next 6 days including today.
{%- endif %}


















