Arguments for taxonomy_move_category:

category_id (required): ID of the category to move
new_parent_id (required): ID of the new parent category

Example:
{
    "category_id": 456,
    "new_parent_id": 789
}
