Current date and time: {{ date_time }}

## Calendar
{{ resource_expected_calendar }}

## Weather
{{ resource_weather }}

## Day context
{{ resource_daily_context_generator_output }}

## Gathered data
{{ task }}

{{ information }}

Compile all of the above into the daily summary format.
