- **Arguments**:
  - `start_date` (str, optional): Fetching reminders in date range.  Use ISO 8601 format (e.g., "2024-12-31T17:00:00").
  - `end_date` (str, optional): Fetching reminders in date range.  Use ISO 8601 format (e.g., "2024-12-31T17:00:00").

  Typically use a range of one week (One week starting from today).  Larger ranges than a week are not advisable. If you have a very good reason you can try a larger range.
  If you only need reminders for one day then one day range is best.