The 'search_web' is a web search tool arguments have form:
query: str
task: str

query is what you would type into a search engine eg. sushi hours
Searches with 2-3 keywords are best. Start with this. If it does not work, then try longer search queries.
task: is context for the agent that looks through search results to pick the most relevant ones.  You can give as much description here
as need be.  What is the goal of the search?
