This is an all purpose team that can do both simple and complex problem solving. It has access to any API you can think of and means to use it. It can handle
emails and calendar and todo tasks.  It is also the only agent team that can call other agent teams.  So if there is a multi step problem that requires many teams
emi_team_manager can handle that.  That being said if your problem is simple and there is another team that is specifically meant for that problem, do not pick
emi_team_manager.  It is a bit like trying to kill a mosquito with a bazooka.

- Only team that can handler email, calendar and todo tasks.
- Can do the jobs of all other managers by calling them.
- If a single other manager can be called to solve the problem, it is faster to do so.