{{ date_time }} ({{ day_of_week }}). Planning the week beginning {{ week_start_date }}.

{{ inventory_snapshot }}

{{ recipes_house }}

{{ dietary_context }}

{{ food_calendar }}

{{ family_roster }}

{{ addressable_concerns }}

{{ fast_food_count_7d }}

{{ ralphs_standing_list }}

{% if recent_history %}
{{ recent_history }}
{% endif %}

Action count so far: {{ action_count }}
