User response to: {{ title }}
Notification/question: {{ message }}
{% set response_details = response %}{% include 'shared/work/response_details.j2' %}
{% include 'shared/work/response_meaning.j2' %}
