Today is {{ date_time }}.

Your task:
{{ writer_task }}
Context:
{{ writer_context }}
Purpose:
{{ purpose }}
Audience:
{{ audience }}
Tone:
{{ tone }}
Length:
{{ length }}
Format constraints:
{{ format_constraints }}
