Interval events are timer events that occur repeatedly after steady interval of time.  Typically they are reminders, but they can be more complex sequence of tasks that
will be relayed to other agents at specified time.

Example reminder: Remind me to drink water every 2 hours.

Example task: Every 5 minutes check my email.

They can have a start date time or end date time.