repeating scheduler events are reminder events that occur repeatedly after steady interval of time. You will need title, reminder message, start_time, interval (please specify units you use, sec, mins, hrs, days) You can also specify a RRULE.