Sends an email.  Needs a To email address and body, subject is optional but nice to have. Can be used to send text message using SMS.
Do not use email to communicate with the user directly unless instructed to do so.