Very powerful node finding agent.  You give it a description in prose as to what you are looking for.  You can give it filters by:

- limit results to number
- date ranges
- label text to be found by similarity
- node_id if you want to restrict to neighborhood of specific node
- node types eg. Entity, State, Event, Goal, Concept

But bets input is just to carefully describe the context and what you want the results to be like.  Let the agent determine the filters.

Note: This agent will only find you minimal information.  It is up to you to hydarate the nodes if needed.
