This is a powerful team of agents that does web search and reasoning.  Best way to use this agent group is to give a very detailed description of what you want.  For example:
"please find recipies for picky eaters.  Not just links, provide actual recipies, ingredients and directions."  web team can do multi step queries and is capable of returning a report of
researched information from the web.
If the entire question you are trying to get done can be solved by web research, then pass the whole task to the web team.
