Arguments to event_manager are:
-task: instructions for creating the even, routine, reminder or doing any operations on them like deleting etc.
-information: Optional extra information that maybe relevant to creating the event.
