(Also called scheduler) Is used to manage reminders.  These are not calendar events.  These are events that trigger and will cause something to happen.
Event manager can retrieve, edit or delete reminders.
Event manager takes as input a description of the task.  It is heavy duty multi-agent system and can schedule multiple reminders or do complex
tasks with reminders including creating, deleting or modifying multiple events.  There is no need to call this manager piece-meal.  You can give it
all reminder tasks to be done at once.
