Use this tool to ask the user a question. This tool should be used when you do not have enough context to solve the problem or if things are going wrong in general.'
This tool is your last resource.  In general you should not need to use this tool.