<div class="weather-box sky">
    <!-- Sun and Moon -->
    <div class="sun"></div>
    <div class="moon"></div>

    <!-- Stars -->
    <div class="stars"></div>
    <div class="text_container">
        <div class="degrees" id="weather_degrees-box">
            <span id="weather_temp_number">61</span>
            <span id="weather_temp_degree">°</span>
        </div>

        <div class="place" id="weather_place">
            Irvine CA
        </div>
        <div class="weather" id="weather_condition">
            Clear
        </div>
    </div>
    <div class="high-low-corner">
        <span class="high" id="weather_high">High: 70.3°</span>
        <span class="low" id="weather_low">Low: 41.4°</span>
    </div>
    <!-- Ground Elements Inside the Box -->
    <div class="ground1"></div>
    <div class="ground2"></div>
</div>