{% if entity_level_0 %}
#### ADDITIONAL KNOWN CONTEXT ####
These are facts already recorded in the knowledge graph about entities mentioned below.
Use them to make better merge-vs-insert decisions for edges.
{{ entity_level_0 }}
#### END OF ADDITIONAL KNOWN CONTEXT ####
{% endif %}

New edge's data that we are thinking about inserting:
{{ new_edge_data }}

Existing edges' data:
{{ existing_edge_candidates }}
